<div class="card">
  <h4 class="card-header bg-primary text-light">Shopping List</h4>

  <div class="list-group list-group-flush">
    <div class="list-group-item d-flex align-items-center" *ngFor="let item of shoppingItems">
      <app-shopping-cart-item [item]="item"></app-shopping-cart-item>
      <button class="btn btn-outline-danger btn-sm rounded-circle remove-btn"
              (click)="removeItem(item)">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
  </div>

  <div class="card-footer text-muted text-right">Total: {{getTotal()}}:-</div>
</div>
