<div class="card">
  <h4 class="card-header bg-primary text-light">Shopping List</h4>

  <div class="list-group list-group-flush">
    <div class="list-group-item d-flex align-items-center" *ngFor="let item of shoppingItems">
      <strong class="product-name">{{item.name}}</strong>
      <span class="total-price ml-auto">{{item.price}}:-</span>
      <button class="btn btn-outline-danger btn-sm rounded-circle ml-2"
              (click)="removeItem(item)">
        <i class="fa fa-trash-o"></i>
      </button>
    </div>
  </div>

  <div class="card-footer text-muted text-right">Total: {{$total | async}}:-</div>
</div>
